.IssueInfo{
  display: flex;

  .panel-body{
    & > *, & > .IssueInfo-info > *{
      padding: 5px;
    }

    .IssueInfo-info {
      display: inline;
    }

    .IssueInfo-id{
      flex: 0 0 20px;
    }
    .IssueInfo-title{
      flex: 1 1 auto;
      text-overflow: ellipsis;
    }
    .IssueInfo-dateStart{
      flex: 1 1 auto;
    }
    .IssueInfo-status, .IssueInfo-dependenciesStatus{
      flex: 1 1 auto;

      &:hover{
        box-shadow: 0px 0px 8px #AAA;
        border-radius: 4px;
      }
    }
    .IssueInfo-warnings{
      flex: 1 1 auto;
      display: inline;
    }
  }
}

.IssueWarning{
  .IssueWarning-abr{
    text-transform: uppercase;
  }
}
